.App {
  text-align: center;
  background: silver;
}

.App-logo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 2px #3a0e3a;
  background-image: url("future-head.jpg");
  background-position: -133px center;
  background-size: cover;
  pointer-events: none;
}

.future-link {
  border-radius: 16px;
  width: 300px;
  overflow: hidden;
}
.future-link img {
  width: 100%;
}

.future-link:hover {
  opacity: 0.5;
}

.hol-red {
  color: rgb(226,78,38);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
